<h2>Are you sure want to delete?</h2>
<div class="d-flex delete">
    <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="warn" [disabled]="disabled" (click)="delete()">Conform</button>
</div>



<!-- <div>
    <button mat-raised-button color="warn" class="warn3"  (click)='onCreate()'>create</button>
  </div>
    
  
  
  <table >
    <tr>
        <th>Id-no</th>
        <th>Email</th>
        <th>First-name</th>
        <th>Last-name</th>
        <th>Avatar</th>
        <th >Edit</th>
        <th>Delete</th>
    </tr>
  
    <tr *ngFor="let user of users">
        <td [routerLink]="['/details',user.id]" class="id">{{user.id}}</td>
        <td>{{user.email}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td><img [src]="user.avatar" class="avatar" alt=""></td>
        <td><button type="button" (click)="onCreate(user)" class=" btn btn-light edit"><i class="fa-solid fa-user-pen"></i></button></td>
        <td><button type="button" (click)="onDelete(user.id)"class=" btn btn-light delete" ><i class="fa-solid fa-trash"></i></button></td>
    </tr>
  </table>


  <table>
    <tr *ngFor="let user of users">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element">[routerLink]="['/details',user.id]" class="id">{{user.id} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{user.email}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef> Firstname </th>
      <td mat-cell *matCellDef="let element"> {{user.first_name}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef> Lastname </th>
      <td mat-cell *matCellDef="let element"> {{user.last_name}} </td>
    </ng-container>
    
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef> Avatar </th>
      <td mat-cell *matCellDef="let element"> <img [src]="user.avatar" class="avatar" alt=""> </td>
    </ng-container>
      </tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> 
     -->