

<div class="card details-card" style="width: 18rem;">
    <img [src]="user.avatar" alt="">
    <div class="card-body list-card">
        <p class="card-text">First-Name:<span class="detail">{{user.first_name}}</span> </p> <hr>
        <p class="card-text">Last-Name: <span  class="detail"> {{user.last_name}}</span></p><hr>
      <p class="card-text">Email: <span  class="detail">{{user.email}}</span> </p>
      <input type="button" (click)="onbackclick()" class="btn btn-primary" value="Back">
    </div>
</div>
  




